{% extends 'base.html' %}

{% block content %}
<h2>Grupo: {{group.nombre}}</h2>
<h2 style="margin-top: 15px;">Miembros:</h2>
<ol>
    {% for client in group.clientes %}
    <li>{{client.nombre}}</li>
    {% endfor %}
</ol>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-8">
        <h2>Cuentas:</h3>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Crear cuenta
    </button>

</div>

<table class="table table-hover" id="groups-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Estatus</th>
            <th scope="col">Monto</th>
            <th scope="col">Saldo</th>

        </tr>
    </thead>
    <tbody>
        {% for account in group.cuentas %}
        <tr>
            <td><a href="{{url_for('.account_detail', account_id=account.id)}}">{{ account.id }}</a></td>
            <td>{{ account.estatus }}</td>
            <td>{{ "${:,.2f}".format(account.monto) }}</td>
            <td>{{ "${:,.2f}".format(account.saldo) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creación de cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="loadId">Cuenta ID</label>
                        <input class="form-control" type="text" id="accountId" maxlength="5">
                    </div>
                    <div class="form-group">
                        <label for="loanAmount">Monto del prestamo</label>
                        <input class="form-control" id="loanAmount">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="generateCalendar">Fechas de pago</button>
                <button type="button" class="btn btn-success" id="createAccount">¡Crear!</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/gruposController.js') }}"></script>

{% endblock %}