{% extends 'base.html' %}

{% block content %}


<div class="row">
    <h2>Lista de grupos</h2>
    <table class="table table-hover" id="groups-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Miembros</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <th><a href="{{url_for('.group_details', group_id=group.id)}}">{{ group.id }}</a></th>
                    <td>{{ group.nombre }}</td>
                    <td>
                        <ol>
                            {% for client in group.clientes %}
                                <li style="margin-bottom: 5px;">{{ client.nombre }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
