{% extends 'base.html' %}

{% block content %}

{% if account|length %}

<div class="row">
    <div class="col-8">
        <h3>Estatus de la cuenta: {{ account.estatus }}</h3>
    </div>
    {% if account.saldo > 0 %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Pagar cuenta
    </button>
    {% endif %}
</div>

<h3>Monto del prestamo: {{ "${:,.2f}".format(account.monto) }}</h3>
<h3>Saldo: {{ "${:,.2f}".format(account.saldo) }}</h3>
<h3>Transacciones:</h3>


<table class="table table-hover" id="groups-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for tx in account.transacciones %}
        <tr>
            <td>{{ "${:,.2f}".format(tx.monto) }}</td>
            <td>{{ tx.fecha }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Calendario de pagos:</h3>

<table class="table table-hover" id="groups-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Estatus</th>
            <th scope="col"># de pago</th>
            <th scope="col">Fecha de pago</th>
            <th scope="col">Monto</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in account.calendariopagos %}
        {% if payment.estatus != 'PAGADO' %}
        <tr style="cursor: pointer" class="trigger-transaction" data-target="#createTransactionModal" data-toggle="modal">
        {% else %}
        <tr>
        {% endif %}
            <td>
                {{ payment.estatus }}
            </td>
            <td>{{ payment.num_pago }}</td>
            <td>{{ payment.fecha_pago }}</td>
            <td>{{ "${:,.2f}".format(payment.monto) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pago cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="close-account-modal-body">
                <form>
                    <div class="form-group">
                        <label for="transactionDate">Fecha</label>
                        <input class="form-control"
                            type="datetime-local" id="transactionDate" name="trip-start" min="2018-01-01" max="2099-12-31"
                        >
                    </div>
                    <div class="form-group">
                        <label for="transactionAmount">Monto</label>
                        <input class="form-control" id="transactionAmount" value="{{account.saldo}}" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="closeAccount">Saldar deuda</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createTransactionModal" tabindex="-1" role="dialog" aria-labelledby="createTransactionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTransactionModalLabel">Pago programado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="calendar-payment-modal-body">
                <form>
                    <div class="form-group">
                        <label for="paymentAmount">Monto</label>
                        <input class="form-control" id="paymentAmount">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="createPayment">Marcar pago</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/cuentasController.js') }}"></script>
{% endif %}
{% endblock %}