{% extends 'base.html' %}

{% block content %}


<div class="row" style="margin-bottom: 10px;">
    <div class="col-8">
        <h2>Lista de cliente</h2>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addClientModal">
        Agregar cliente
    </button>

</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <th>{{ client.id }}</th>
            <td>{{ client.nombre }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addClientModalLabel">Nuevo cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="close-account-modal-body">
                <form>
                    <div class="form-group">
                        <label for="clientId">ID Cliente</label>
                        <input class="form-control" type="text" id="clientId" maxlength="7">
                    </div>
                    <div class="form-group">
                        <label for="clientName">Nombre</label>
                        <input class="form-control" type="text" id="clientName" maxlength="60" minlength="1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="createClient">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/clientesController.js') }}"></script>
{% endblock %}